<Files *>
    Order Deny,Allow
    Deny from all
</Files>

<Files index.php>
    Order Allow,Deny
    Allow from all
</Files>

<Files confirmation.php>
    Order Allow,Deny
    Allow from all
</Files>

<Files />
    Order Allow,Deny
    Allow from all
</Files>

# Except root
<FilesMatch "^$">
    Order Allow,Deny
    Allow from all
</FilesMatch>
